@charset "utf-8";
/*
	Project Version Four
	Workout Website
	
	Title of Site: Start Today
	Author: Clayten Hibbert
	Date: 6/13/2019
	FileName: phone.css
*/

/* Import Basic Design Styles used on all Screens */
@import url("styles.css");

/* Flex Layout Styles */

@media only screen and (max-width: 480px) {
	figure.bodymap {
		width: 100%;
		-webkit-order: 1;
		order: 1;
	}
