@charset "utf-8";
/*
	Project Version Four
	Workout Website
	
	Title of Site: Start Today
	Author: Clayten Hibbert
	Date: 6/13/2019
	FileName: styles.css
*/
/* HTML Styles */

address, blockquote, article, body, h1, h2, h3, h4, h5, h6, header, img, html, li, main, nav, ol, p, section, ul {
	background: transparent;
	vertical-align: baseline;
	margin:0;
	padding:0;
	font-size: 100%;
}
/* Page Body Styles */

body {
	background-color: Gainsboro; /*-- Found this color at https://www.w3schools.com/colors/colors_names.asp*/
	color: maroon;
	/*M8LO10 Demonstrate a CSS animation or transition
	(CSS, identify which is being done and its impact on the rendered HTML; note it has to include a time aspect, not be 
	immediate) 
	NOTE: The background changes from white to Gainsboro over 21 seconds. It is gradual, if you can't notice after a while 
	refresh the page and youll notice the background change colors.*/
	background: Gainsboro;
	color: maroon;
	transition: background 21s;
	text-align: center;
	margin: 50px 100px;
}

blockquote > * {
	background-color: lightblue;
	text-align: left;
	-webkit-filter: brightness(0.5);
	filter: brightness(0.5);
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

body > header > nav > ul {
	text-align: left;
	text-shadow: black 1px 1px 1px;
	border-style:solid;
	border-color: maroon; 
	float: left;
}
body > header > ul {
	list-style-type: none;
	background-color: lightblue;
}
body a:active, body a:hover{
	color: black;
}

a[href] {
	color: maroon; 
}

nav::after{
	clear:both;
	content: "";
	display: table;
}

/* Footer Styles */

footer{
	position: fixed;
	bottom: 15px;
}
 
table.schedule {7
	width: 100%;
	border: 9px solid lightblue;
	border-collapse: collapse;
}

table.schedule tr {
	height: 50px;
}

table.schedule td, table.schedule th {
	border: 3px solid black;
}

/* Form Styles */


/*M7LO11 Demonstrate how to format a form with CSS 
(group your form styles together in your CSS file, and document their overall impact on the form)
NOTE: This makes it so that my forms turn maroon when the person selects them. it helps the user see where they are typing/selecting. 
*/
input:focus, select:focus, textarea:focus {
	background-color: maroon;
}













